.TodoCounter {
    text-align: center;
    font-weight: bold;
    color: white;
}
.todo-span-container {
    width: 100%;
    text-align: center;
    padding-bottom: 1rem;
}
.todo-span {
    font-size: 1.3rem;
}
.completed-todos {
    color: red;
}