.todo-items {
    padding: 1rem 1rem 0.1rem 1rem;
}
.todo-items div {
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #a2a8d3;
    border-radius: 20px;
}
.todo-items div p {
    font-weight: bolder;
    color: #474747;
}
.completedTask {
    padding-left: 1rem;
    font-size: 1.2rem;
}

.deleteTask {
    padding-right: 1rem;
    font-size: 0.8rem;
}

.completedTask:hover {
    cursor: pointer;
    color: aqua;
}

.deleteTask:hover {
    cursor: pointer;
    color: rgb(250, 57, 57);
}