:root {
  --purple-color: #3500D3;
  --dark: #0B0C10;
  --cian: #66FCF1;
  --dark-purple: #E98074;
  --nice-white: #FEFFFF;
}

body {
  margin: 0;
  font-family: 'Roboto Slab', serif;
  background-color: var(--dark);
  color: var(--nice-white);
}


